
@font-face 
{
font-family: gotFont;
src: url("Game of Thrones.ttf");
}
h2
{
    font-family: gotFont;
}
header
{
    font-family: gotFont; 
    padding: 4px;
}
nav
{
    padding: 4px;
    font-size: 20px;
}
body.home
{
    background-image: url("backImages/BackImage1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    background-color: #F8F4CE;            
}
body.about
{
    background-image: url("backImages/BackImage2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -500px center;
    background-color: #EBE5AB;      
}
body.buy
{
    background-image: url("backImages/BackImage3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-color: #F8F4CE;            
}
body.memes
{
    background-image: url("backImages/BackImage5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    background-color: #F8F4CE;            
}
body.contact
{
    background-image: url("backImages/BackImage4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -300px center;
    background-color: #F8F4CE;  
}
footer
{            
    display: inline-block;
    height: 120px;
    background-color: #AF6F56;
    position: relative;
    margin-bottom: 0px;
    bottom: 0px;
    left: 0px;
    border: 2px solid #342528;
    width: 100%;
    margin: 0px;
}
aside 
{
    color: black;
    position: absolute;
    width: 20%;
    right: 4px;
}
h1
{
    font-family: gotFont; 
}
img.footerImg
{            
    padding:1px;
    border:1px solid #021a40;
    position: relative;
    bottom: 15px;
    right: 15px;
}
article.buyArt
{
    display: block;
    border:1px solid #021a40;    
    text-align: center;
    background: #AF6F56;
    color: black;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-right: -10%;
    transform: translate(-10%, -50%);
    float: left;
}
article.home
{
   font-size: 1.5em;
    display: block;
    padding-left: 15%;
    padding-right: 15%;
    bottom: 150px;
    top: 150px;
    text-align: left;
    background-color: rgba(235, 229, 171, 0.5);
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(150, 95, 73);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(122, 79, 62);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 50%;
    border-radius: 5px;
    padding: 20px;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}