
@font-face 
{
font-family: gotFont;
src: url("Game of Thrones.ttf");
}

h1
{
    font-family: gotFont;
    font-size: 2vw;
}

h2
{
    font-family: gotFont;
}

header
{
    font-family: gotFont; 
    padding: 20px;
    padding-left: 60px;
}

nav
{
    position: relative;
    margin-bottom: 100px;
}

nav a
{
  text-decoration: none;
  float: left;
  text-align: center;
  width: 16.6%;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(175, 111, 86, 0.411);
  color: black;

}

nav a:hover
{
  background-color: rgb(129, 82, 63, 0.411);
}

nav a.current
{
  background-color: rgba(121, 53, 28, 0.411);
}

body.home
{
    background-image: url("backImages/BackImage1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    background-color: #F8F4CE;            
}
body.plot
{
    background-image: url("backImages/BackImage2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -300px center;
    background-color: #EBE5AB;            
}
body.characters
{
    background-image: url("backImages/BackImage3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-color: #F8F4CE;            
}
body.world
{
    background-image: url("backImages/BackImage5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right; 
    background-color: #F8F4CE;   
    margin: 0px;         
}
body.buy
{
    background-image: url("backImages/BackImage4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -300px center;
    background-color: #F8F4CE;  
}

body.contact
{
    background-image: url("backImages/BackImage4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -300px center;
    background-color: #F8F4CE;  
}

footer
{   
    clear: both;        
    background-color: #AF6F56;
    position: relative;
    margin: 0 auto;
    height: 120px;
    width: 98%;
    padding: 10px;
    border: 2px solid #342528;
}

img.footerImg
{            
    padding:1px;
    border:1px solid #021a40;
    position: relative;
    bottom: 15px;
    right: 15px;
}

aside 
{   
    float: right;
    color: black;
    position: relative;
    right: 4px;
}

article.text
{
  position: relative;
  width: 83%;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 40px;
  background-color: rgba(248, 244, 206, 0.466);
  text-align: left;

}

p #karaktersuitleg
{
  font-size: 30px;
}

#karakters img
{
  float: left;
  margin-right: 20px;
  width: 150px;
  height: 231px;
}

.first
{
  float: left;
  width: 35%;
  height: 200px;
  margin-right: 20px;
}

.second
{
  float: left;
  width:35%;
  height: 200px;
  margin-right: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(150, 95, 73);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(122, 79, 62);
  }
  
  /* Add a background color and some padding around the form */
  #contactform
  {
    float:left;
    width: 50%;
    border-radius: 5px;
    padding: 20px;
  }

  #contactinfo
  {
    float: right;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}