
/*~~~~~~~~~~~~~~~~~~~
~~~~~~~ FONTS ~~~~~~
~~~~~~~~~~~~~~~~~~~~*/
@font-face 
{
	font-family: gotFont;
	src: url("Game of Thrones.ttf");
}

h1
{
    font-family: gotFont;
    font-size: fixed;
}

h2
{
    font-family: gotFont;
}


/*~~~~~~~~~~~~~~~~~~~
~~~~~~ HEADER ~~~~~~~
~~~~~~~~~~~~~~~~~~~~*/
header
{
    font-family: gotFont; 
    padding: 20px;
    padding-left: 60px;
}

/*~~~~~~~~~~~~~~~~~~~
~~~~~ NAVIGATION ~~~~
~~~~~~~~~~~~~~~~~~~~*/
nav
{
    position: relative;
    margin-bottom: 100px;
}

nav a
{
  text-decoration: none;
  float: left;
  text-align: center;
  width: 20%;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(175, 111, 86, 0.411);
  color: black;
}

nav a:hover
{
  background-color: rgb(129, 82, 63, 0.411);
}



nav a.current
{
  background-color: rgba(121, 53, 28, 0.411);
}


/*~~~~~~~~~~~~~~~~~~~
~~~~~~~~ BODY ~~~~~~~
~~~~~~~~~~~~~~~~~~~~*/
body
{
	margin:0px 0px 0px 0px;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
body.home
{
    background-image: url("backImages/BackImage1.jpg");
    background-position: right; 
    background-color: #F8F4CE;            
}
body.plot
{
    background-image: url("backImages/BackImage2.jpg");
    background-position: right -300px center;
    background-color: #EBE5AB;            
}
body.characters
{
    background-image: url("backImages/BackImage3.jpg");
    background-position: left; 
    background-color: #ECC371; 
    height: 100%;           
}
body.world
{
    background-image: url("backImages/BackImage5.jpg");
    background-position: right; 
    background-color: #EDEAB3;           
}
body.author
{
    background-image: url("backImages/BackImage4.jpg");
    background-position: right -300px center;
    background-color: #F8F4CE;  
}


/*~~~~~~~~~~~~~~~~~~~
~~~~ ARTICLES ~~~~
~~~~~~~~~~~~~~~~~~~~*/
article.text
{
  position: relative;
  width: 83%;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  background-color: rgba(248, 244, 206, 0.466);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
/* This is for splitting up the list of regions into columns (world page) */
body.world ol
{
 -webkit-column-count: 4;
 -moz-column-count: 4;
 -o-column-count: 4;
  column-count: 4; 
} 


.locationBox:nth-of-type(odd)
{
	background-color: rgba(128, 128, 128, 0.459)
}

/*~~~~~~~~~~~~~~~~~~~
~~~~~ CHARACTERS ~~~~
~~~~~~~~~~~~~~~~~~~~*/

div.characters
{
	height: auto;
	vertical-align: top;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

div.characters img{
  	float: left;
  	margin-right: 20px;
  	width: 180px;
  	height: 277px;
}

/*~~~~~~~~~~~~~~~~~~
~~~~~~ FOOTER ~~~~~~
~~~~~~~~~~~~~~~~~~~~*/
footer
{   margin:0px;
    clear: both;        
    background-color: #AF6F56;
    position: relative;
    height: 100%;
    width: auto;
    padding: 10px 10px 10px 10px;
    border: 2px solid #342528;
}

footer img
{
	position: center;
	float: right;
}

/*~~~~~~~~~~~~~~~~~~
~~~~~~ IMAGES ~~~~~~
~~~~~~~~~~~~~~~~~~~~*/

body.world img
{
    max-width: 100%;
    height: auto;
}


body.home table{
	width:100%;
	height:100px;
	border-collapse: collapse;
}

body.home th, td{
	padding: 10px;
	text-align: left ;
	border: 1px solid black;
	
}



